<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/61b4a695-41da-4014-a1af-207339ade002/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/BloodBankSystemAPI</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bloodbanksystemapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>bloodbanksystemapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BloodBankSystemAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$BloodBankSystemAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BBMS" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bloodbserver.database.windows.net,1433;Initial Catalog=BloodBank_db;User ID=divya@bloodbserver;Password=ds@30nov" Name="Data Source=tcp:bloodbserver.database.windows.net,1433;Initial Catalog=BloodBank_db;User Id=divya@bloodbserver;Password=ds@30nov" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LIN59017052\SQLEXPRESS;Initial Catalog=bloodBankDB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BBMS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LIN59017052\SQLEXPRESS; Initial Catalog = bloodBankDB; Integrated Security=true " MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BBMS-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bloodbserver.database.windows.net,1433;Initial Catalog=BloodBank_db;User Id=divya@bloodbserver;Password=ds@30nov</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>